In [1]:
import pandas as pd

data = {
    "business_name": [
        "AutohausAZ", "Citizen Public House", "Otto Pizza & Pastry",
        "Giant Hamburgers", "Tammie Coe Cakes", "Marcellino Ristorante",
        "Shanghai Club", "Freddys Frozen Custard & Steakburgers",
        "Chipotle Mexican Grill", "Arizona Fire & Water Restoration"
    ],
    "review_id": [
        "C4TSIEcazRay0qIRPeMAFg", "ZZ0paqUsSX-VJbfodTp1cQ", "pF6W5JOPBK6kOXTB58cYrw",
        "QBddRcflAcXwE2qhsLVv7w", "Y8UMm_Ng9oEpJbIygoGbZQ", "GTUOIBCEGGt_aGp-bRogfg",
        "wHfxd0Bq4JYLiUEO55xe4Q", "NfTR_B1yW1hPVEoXlSJV-w", "k-Oo0Gs4AC04GJAecu_iWg",
        "uvVmBnYQf8Mnt-s64D8XOg"
    ],
    "user_id": [
        "jlbPUcCRiXlMtarzi9sW5w", "EeCWSGwMAPzwe_c1Aumd1w", "JG1Gd2mN2Qk7UpCqAUI-BQ",
        "T90ybanuLhAr0_s99GDeeg", "MWt24-6bfv_OHLKhwMQ0Tw", "gopGuEb-ft6cHKMyCZEvJg",
        "eVQ_yDkMlF62oofUwc29Kw", "YnHYlN1m7jDhAH9XgR4Dlg", "HjpzhIQFRQbFmc_7CtFDmg",
        "zQP7cLujr-MJ207uuNFC1w"
    ],
    "stars": [5, 4, 5, 3, 3, 1, 5, 4, 4, 5],
    "review_date": [
        "2011-06-27 00:00:00", "2013-03-18 00:00:00", "2013-03-14 00:00:00",
        "2009-03-27 00:00:00", "2008-08-25 00:00:00", "2010-12-17 00:00:00",
        "2013-09-19 00:00:00", "2013-01-24 00:00:00", "2011-05-11 00:00:00",
        "2011-08-03 00:00:00"
    ],
    "review_text": [
        "Autohaus is my main source for parts for an old Mercedes that has been in the family since new that I am restoring. The old beater is truly a labor of",
        "First time in PHX.  Friend recommended.  Friendly waitstaff.  They were understaffed and extremely busy, but we never knew.  The short ribs were tende",
        "LOVE THIS PIZZA!  This is now one of my favorite pizza places in phoenix area. My husband i walked into this cute family owned business and were greet",
        "ok, so I tried this place out based on other reviews. I had the cheeseburger with everything, some fries, and a chocolate shake. The burger was okay,",
        "Overrated. The treats are tasty but certainly not the best I have ever had. I would have rated this a two star but the cakes and cookies are REALLY pr",
        "This place sucks. Food was average and we had to wait an hour even though we had a reservation. My americano tasted like warm soy sauce and they blame",
        "This is our favorite Chinese restaurant in the area! The service is always consistent and our favorite waitress - Becky - always makes time to spend w",
        "Love the tiny fries.",
        "When you don't feel like a full restaurant and you want more than the normal Mexican fast food, Chipolte fits the bill. The food is always fresh, the",
        "This is a fantastic company.  They have a very high rating with BBB and have won a ton of customer service awards.  Hopefully you dont need them but i"
    ],
    "funny": [1, 0, 0, 0, 1, 2, 0, 1, 0, 0],
    "useful": [2, 0, 0, 1, 3, 3, 0, 0, 0, 0],
    "cool": [1, 0, 0, 1, 2, 0, 0, 0, 0, 0]
}

df_reviews = pd.DataFrame(data)

In [2]:
df_reviews.head()

,business_name,review_id,user_id,stars,review_date,review_text,funny,useful,cool
0,AutohausAZ,C4TSIEcazRay0qIRPeMAFg,jlbPUcCRiXlMtarzi9sW5w,5,2011-06-27 00:00:00,Autohaus is my main source for parts for an ol...,1,2,1
1,Citizen Public House,ZZ0paqUsSX-VJbfodTp1cQ,EeCWSGwMAPzwe_c1Aumd1w,4,2013-03-18 00:00:00,First time in PHX. Friend recommended. Frien...,0,0,0
2,Otto Pizza & Pastry,pF6W5JOPBK6kOXTB58cYrw,JG1Gd2mN2Qk7UpCqAUI-BQ,5,2013-03-14 00:00:00,LOVE THIS PIZZA! This is now one of my favori...,0,0,0
3,Giant Hamburgers,QBddRcflAcXwE2qhsLVv7w,T90ybanuLhAr0_s99GDeeg,3,2009-03-27 00:00:00,"ok, so I tried this place out based on other r...",0,1,1
4,Tammie Coe Cakes,Y8UMm_Ng9oEpJbIygoGbZQ,MWt24-6bfv_OHLKhwMQ0Tw,3,2008-08-25 00:00:00,Overrated. The treats are tasty but certainly ...,1,3,2

In [3]:
#df_reviews['highest_cool'] = df_reviews['cool'].max()

In [8]:
df_reviews[df_reviews['cool'] == df_reviews['cool'].max()][['business_name', 'review_text']]

      business_name                                        review_text
4  Tammie Coe Cakes  Overrated. The treats are tasty but certainly ...

In [9]:
df = df_reviews.groupby(['business_name', 'review_text'])['cool'].sum().reset_index().sort_values(by = 'cool', ascending = False)

In [11]:
df[df['cool'] == df['cool'].max()][['business_name', 'review_text']]

      business_name                                        review_text
9  Tammie Coe Cakes  Overrated. The treats are tasty but certainly ...

In [ ]:
# sql
with cte as
(select business_name, review_text, sum(cool) as total_cool_votes
from yelp_reviews
group by business_name, review_text
order by total_cool_votes desc)

from cte
where total_cool_votes = (select max(total_cool_votes) from cte)