## polar date time conversion:
https://www.confessionsofadataguy.com/date-and-datetime-manipulation-in-polar/

In [1]:
import numpy as np
import polars as pl

In [7]:
import pandas as pd

data = {
    'business_id': [5800, 64236, 1991, 3816, 39119, 34126],
    'business_name': [
        'John Chin Elementary School',
        'Sutter Pub and Restaurant',
        'SRI THAI CUISINE',
        'Washington Bakery & Restaurant',
        'Brothers Restaurant',
        'Brothers Restaurant'
    ],
    'business_address': [
        '350 Broadway St',
        '700 Sutter St',
        '4621 LINCOLN Way',
        '733 Washington St',
        '4128 GEARY Blvd',
        '4129 GEARY Blvd'
    ],
    'business_city': ['San Francisco'] * 6,
    'business_state': ['CA'] * 6,
    'business_postal_code': [94133, 94102, 94122, 94108, 94118, 34566],
    'business_latitude': [37.8, 37.79, 37.76, 37.8, 37.78, 30.98],
    'business_longitude': [-122.4, -122.41, -122.51, -122.41, -122.46, -122.99],
    'business_location': [
        {'longitude': '-122.403154', 'needs_recoding': False, 'latitude': '37.798358', 'human_address': '{"address":"","city":"","state":"","zip":""}'},
        {'longitude': '-122.41188', 'needs_recoding': False, 'latitude': '37.78881', 'human_address': '{"address":"","city":"","state":"","zip":""}'},
        {'longitude': '-122.507779', 'needs_recoding': False, 'latitude': '37.764073', 'human_address': '{"address":"","city":"","state":"","zip":""}'},
        {'longitude': '-122.405845', 'needs_recoding': False, 'latitude': '37.795174', 'human_address': '{"address":"","city":"","state":"","zip":""}'},
        {'longitude': '-122.463762', 'needs_recoding': False, 'latitude': '37.781148', 'human_address': '{"address":"","city":"","state":"","zip":""}'},
        {'longitude': '-122.463862', 'needs_recoding': False, 'latitude': '37.791148', 'human_address': '{"address":"","city":"","state":"","zip":""}'}
    ],
    'business_phone_number': [None] * 6,
    'inspection_id': [
        '5800_20171017', '64236_20170725', '1991_20171129', '3816_20160728', '39119_20160718', '39119_20060718'
    ],
    'inspection_date': [
        '2017-10-17 00:00:00', '2017-07-25 00:00:00', '2017-11-29 00:00:00', '2016-07-28 00:00:00', '2016-07-18 00:00:00', '2016-07-19 00:00:00'
    ],
    'inspection_score': [98, 88, 86, 67, 79, 80],
    'inspection_type': ['Routine - Unscheduled'] * 6,
    'violation_id': [
        '5800_20171017_103149', '64236_20170725_103133', '1991_20171129_103139', '3816_20160728_103108', '39119_20160718_103133', '39119_20160718_113133'
    ],
    'violation_description': [
        'Wiping cloths not clean or properly stored or inadequate sanitizer',
        'Foods not protected from contamination',
        'Improper food storage',
        'Contaminated or adulterated food',
        'Foods not protected from contamination', 
        'Foods not protected from contamination out of line'
    ],
    'risk_category': ['Low Risk', 'Moderate Risk', 'Low Risk', 'High Risk', 'Moderate Risk', 'sexy risk']
}

df = pd.DataFrame(data)
df_polar = pl.DataFrame(data)
#print(df)

In [8]:
df.head()

,business_id,business_name,business_address,business_city,business_state,business_postal_code,business_latitude,business_longitude,business_location,business_phone_number,inspection_id,inspection_date,inspection_score,inspection_type,violation_id,violation_description,risk_category
0,5800,John Chin Elementary School,350 Broadway St,San Francisco,CA,94133,37.80,-122.40,"{'longitude': '-122.403154', 'needs_recoding':...",None,5800_20171017,2017-10-17 00:00:00,98,Routine - Unscheduled,5800_20171017_103149,Wiping cloths not clean or properly stored or ...,Low Risk
1,64236,Sutter Pub and Restaurant,700 Sutter St,San Francisco,CA,94102,37.79,-122.41,"{'longitude': '-122.41188', 'needs_recoding': ...",None,64236_20170725,2017-07-25 00:00:00,88,Routine - Unscheduled,64236_20170725_103133,Foods not protected from contamination,Moderate Risk
2,1991,SRI THAI CUISINE,4621 LINCOLN Way,San Francisco,CA,94122,37.76,-122.51,"{'longitude': '-122.507779', 'needs_recoding':...",None,1991_20171129,2017-11-29 00:00:00,86,Routine - Unscheduled,1991_20171129_103139,Improper food storage,Low Risk
3,3816,Washington Bakery & Restaurant,733 Washington St,San Francisco,CA,94108,37.80,-122.41,"{'longitude': '-122.405845', 'needs_recoding':...",None,3816_20160728,2016-07-28 00:00:00,67,Routine - Unscheduled,3816_20160728_103108,Contaminated or adulterated food,High Risk
4,39119,Brothers Restaurant,4128 GEARY Blvd,San Francisco,CA,94118,37.78,-122.46,"{'longitude': '-122.463762', 'needs_recoding':...",None,39119_20160718,2016-07-18 00:00:00,79,Routine - Unscheduled,39119_20160718_103133,Foods not protected from contamination,Moderate Risk

Classify each business as either a restaurant, cafe, school, or other.


•	A restaurant should have the substring 'restaurant' in the business name.
•	A cafe should have either 'cafe', 'café', or 'coffee' in the business name.
•	A school should have the substring 'school' in the business name.
•	All other businesses should be classified as 'other'.


Output the business name and their classification.

In [4]:
# df['business_name'].value_counts() ## all unique value with there number of occures

In [5]:
# drop duplicates
df_new = df[['business_name']].drop_duplicates()

In [6]:
lower = df_new['business_name'].str.lower() # df_new['business_name'].str.lower() to lowerin np.where

In [8]:
## if resturant than restaurant or check again if school than school or check again if cafe than cafe or other
df_new['business_type'] = np.where(lower.str.contains('restaurant'), 'resturant', 
                                   np.where(lower.str.contains('school'),'school', np.where(lower.str.contains(r'cafe|café|coffee'), 'cafe', 'other')))

In [9]:
df_new

                    business_name business_type
0     John Chin Elementary School        school
1       Sutter Pub and Restaurant     resturant
2                SRI THAI CUISINE         other
3  Washington Bakery & Restaurant     resturant
4             Brothers Restaurant     resturant

In [4]:
df_polar.head()

shape: (5, 17)
┌─────────────┬──────────────┬──────────────┬──────────────┬───┬─────────────┬─────────────┬─────────────┬─────────────┐
│ business_id ┆ business_nam ┆ business_add ┆ business_cit ┆ … ┆ inspection_ ┆ violation_i ┆ violation_d ┆ risk_catego │
│ ---         ┆ e            ┆ ress         ┆ y            ┆   ┆ type        ┆ d           ┆ escription  ┆ ry          │
│ i64         ┆ ---          ┆ ---          ┆ ---          ┆   ┆ ---         ┆ ---         ┆ ---         ┆ ---         │
│             ┆ str          ┆ str          ┆ str          ┆   ┆ str         ┆ str         ┆ str         ┆ str         │
╞═════════════╪══════════════╪══════════════╪══════════════╪═══╪═════════════╪═════════════╪═════════════╪═════════════╡
│ 5800        ┆ John Chin    ┆ 350 Broadway ┆ San          ┆ … ┆ Routine -   ┆ 5800_201710 ┆ Wiping      ┆ Low Risk    │
│             ┆ Elementary   ┆ St           ┆ Francisco    ┆   ┆ Unscheduled ┆ 17_103149   ┆ cloths not  ┆             │
│             ┆ School       ┆              ┆              ┆   ┆             ┆             ┆ clean or    ┆             │
│             ┆              ┆              ┆              ┆   ┆             ┆             ┆ pro…        ┆             │
│ 64236       ┆ Sutter Pub   ┆ 700 Sutter   ┆ San          ┆ … ┆ Routine -   ┆ 64236_20170 ┆ Foods not   ┆ Moderate    │
│             ┆ and          ┆ St           ┆ Francisco    ┆   ┆ Unscheduled ┆ 725_103133  ┆ protected   ┆ Risk        │
│             ┆ Restaurant   ┆              ┆              ┆   ┆             ┆             ┆ from conta… ┆             │
│ 1991        ┆ SRI THAI     ┆ 4621 LINCOLN ┆ San          ┆ … ┆ Routine -   ┆ 1991_201711 ┆ Improper    ┆ Low Risk    │
│             ┆ CUISINE      ┆ Way          ┆ Francisco    ┆   ┆ Unscheduled ┆ 29_103139   ┆ food        ┆             │
│             ┆              ┆              ┆              ┆   ┆             ┆             ┆ storage     ┆             │
│ 3816        ┆ Washington   ┆ 733          ┆ San          ┆ … ┆ Routine -   ┆ 3816_201607 ┆ Contaminate ┆ High Risk   │
│             ┆ Bakery &     ┆ Washington   ┆ Francisco    ┆   ┆ Unscheduled ┆ 28_103108   ┆ d or        ┆             │
│             ┆ Restaurant   ┆ St           ┆              ┆   ┆             ┆             ┆ adulterated ┆             │
│             ┆              ┆              ┆              ┆   ┆             ┆             ┆ fo…         ┆             │
│ 39119       ┆ Brothers     ┆ 4128 GEARY   ┆ San          ┆ … ┆ Routine -   ┆ 39119_20160 ┆ Foods not   ┆ Moderate    │
│             ┆ Restaurant   ┆ Blvd         ┆ Francisco    ┆   ┆ Unscheduled ┆ 718_103133  ┆ protected   ┆ Risk        │
│             ┆              ┆              ┆              ┆   ┆             ┆             ┆ from conta… ┆             │
└─────────────┴──────────────┴──────────────┴──────────────┴───┴─────────────┴─────────────┴─────────────┴─────────────┘

In [12]:
df_polar['business_name'].value_counts()

shape: (5, 2)
┌────────────────────────────────┬───────┐
│ business_name                  ┆ count │
│ ---                            ┆ ---   │
│ str                            ┆ u32   │
╞════════════════════════════════╪═══════╡
│ Brothers Restaurant            ┆ 2     │
│ SRI THAI CUISINE               ┆ 1     │
│ Sutter Pub and Restaurant      ┆ 1     │
│ John Chin Elementary School    ┆ 1     │
│ Washington Bakery & Restaurant ┆ 1     │
└────────────────────────────────┴───────┘

In [13]:
# drop duplicates based on the business name column
df_polar_new = df_polar.unique(subset = ['business_name'])
df_polar_new['business_name'].value_counts()

In [22]:
# lower = df_polar_new['business_name'].str.to_lowercase()
# lower

shape: (5,)
Series: 'business_name' [str]
[
	"washington bakery & restaurant"
	"john chin elementary school"
	"brothers restaurant"
	"sri thai cuisine"
	"sutter pub and restaurant"
]

In [36]:
# result
# result
## add new lower business name column in df_polar_new df
df_polar_new = df_polar_new.with_columns(
    pl.col('business_name').str.to_lowercase().alias('lower_business_name')
)
df_polar_new

shape: (5, 18)
┌─────────────┬──────────────┬──────────────┬──────────────┬───┬─────────────┬─────────────┬─────────────┬─────────────┐
│ business_id ┆ business_nam ┆ business_add ┆ business_cit ┆ … ┆ violation_i ┆ violation_d ┆ risk_catego ┆ lower_busin │
│ ---         ┆ e            ┆ ress         ┆ y            ┆   ┆ d           ┆ escription  ┆ ry          ┆ ess_name    │
│ i64         ┆ ---          ┆ ---          ┆ ---          ┆   ┆ ---         ┆ ---         ┆ ---         ┆ ---         │
│             ┆ str          ┆ str          ┆ str          ┆   ┆ str         ┆ str         ┆ str         ┆ str         │
╞═════════════╪══════════════╪══════════════╪══════════════╪═══╪═════════════╪═════════════╪═════════════╪═════════════╡
│ 3816        ┆ Washington   ┆ 733          ┆ San          ┆ … ┆ 3816_201607 ┆ Contaminate ┆ High Risk   ┆ washington  │
│             ┆ Bakery &     ┆ Washington   ┆ Francisco    ┆   ┆ 28_103108   ┆ d or        ┆             ┆ bakery &    │
│             ┆ Restaurant   ┆ St           ┆              ┆   ┆             ┆ adulterated ┆             ┆ restaurant  │
│             ┆              ┆              ┆              ┆   ┆             ┆ fo…         ┆             ┆             │
│ 5800        ┆ John Chin    ┆ 350 Broadway ┆ San          ┆ … ┆ 5800_201710 ┆ Wiping      ┆ Low Risk    ┆ john chin   │
│             ┆ Elementary   ┆ St           ┆ Francisco    ┆   ┆ 17_103149   ┆ cloths not  ┆             ┆ elementary  │
│             ┆ School       ┆              ┆              ┆   ┆             ┆ clean or    ┆             ┆ school      │
│             ┆              ┆              ┆              ┆   ┆             ┆ pro…        ┆             ┆             │
│ 39119       ┆ Brothers     ┆ 4128 GEARY   ┆ San          ┆ … ┆ 39119_20160 ┆ Foods not   ┆ Moderate    ┆ brothers    │
│             ┆ Restaurant   ┆ Blvd         ┆ Francisco    ┆   ┆ 718_103133  ┆ protected   ┆ Risk        ┆ restaurant  │
│             ┆              ┆              ┆              ┆   ┆             ┆ from conta… ┆             ┆             │
│ 1991        ┆ SRI THAI     ┆ 4621 LINCOLN ┆ San          ┆ … ┆ 1991_201711 ┆ Improper    ┆ Low Risk    ┆ sri thai    │
│             ┆ CUISINE      ┆ Way          ┆ Francisco    ┆   ┆ 29_103139   ┆ food        ┆             ┆ cuisine     │
│             ┆              ┆              ┆              ┆   ┆             ┆ storage     ┆             ┆             │
│ 64236       ┆ Sutter Pub   ┆ 700 Sutter   ┆ San          ┆ … ┆ 64236_20170 ┆ Foods not   ┆ Moderate    ┆ sutter pub  │
│             ┆ and          ┆ St           ┆ Francisco    ┆   ┆ 725_103133  ┆ protected   ┆ Risk        ┆ and         │
│             ┆ Restaurant   ┆              ┆              ┆   ┆             ┆ from conta… ┆             ┆ restaurant  │
└─────────────┴──────────────┴──────────────┴──────────────┴───┴─────────────┴─────────────┴─────────────┴─────────────┘

In [38]:
df_polar_new.columns

['business_id',
 'business_name',
 'business_address',
 'business_city',
 'business_state',
 'business_postal_code',
 'business_latitude',
 'business_longitude',
 'business_location',
 'business_phone_number',
 'inspection_id',
 'inspection_date',
 'inspection_score',
 'inspection_type',
 'violation_id',
 'violation_description',
 'risk_category',
 'lower_business_name']

In [55]:
df_polar_new = df_polar_new.with_columns(
    pl.when(pl.col('lower_business_name').str.contains("restaurant")).then(pl.lit("restaurant"))
    .when(pl.col('lower_business_name').str.contains("school")).then(pl.lit("school"))
    .when(pl.col('lower_business_name').str.contains("cafe|café|coffee")).then(pl.lit("cafe"))
    .otherwise(pl.lit("other")).alias('business_type')
)

In [57]:
df_polar_new[['business_name', 'business_type']]

shape: (5, 2)
┌────────────────────────────────┬───────────────┐
│ business_name                  ┆ business_type │
│ ---                            ┆ ---           │
│ str                            ┆ str           │
╞════════════════════════════════╪═══════════════╡
│ Washington Bakery & Restaurant ┆ restaurant    │
│ John Chin Elementary School    ┆ school        │
│ Brothers Restaurant            ┆ restaurant    │
│ SRI THAI CUISINE               ┆ other         │
│ Sutter Pub and Restaurant      ┆ restaurant    │
└────────────────────────────────┴───────────────┘

# SOlution in polar

In [ ]:

df_new = sf_restaurant_health_violations.unique(subset = ['business_name'])

df_new = df_new.with_columns(
    pl.col('business_name').str.to_lowercase().alias('lower_business_name')
    )
df_new = df_new.with_columns(
    pl.when(pl.col('lower_business_name').str.contains("restaurant")).then(pl.lit("restaurant"))
    .when(pl.col('lower_business_name').str.contains("school")).then(pl.lit("school"))
    .when(pl.col('lower_business_name').str.contains("cafe|café|coffee")).then(pl.lit("cafe"))
    .otherwise(pl.lit("other")).alias('business_type')
    )
result = df_new.select(
    pl.col('business_name'),
    pl.col('business_type')
    )
    
result

In [ ]:
# sql
select DISTINCT business_name, CASE WHEN LOWER(business_name) LIKE '%restaurant%' THEN 'restaurant'
WHEN LOWER LOWER(business_name) LIKE '%school%' THEN 'school'
LOWER(business_name) LIKE '%cafe%'  OR LOWER(business_name) LIKE '%café%'  OR LOWER(business_name) LIKE '%coffee%' THEN 'cafe'
ELSE 'other' END AS business_type
from df

In [44]:
df = pl.DataFrame({"foo": [1, 3, 4], "bar": [3, 4, 0]})
df

shape: (3, 2)
┌─────┬─────┐
│ foo ┆ bar │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 1   ┆ 3   │
│ 3   ┆ 4   │
│ 4   ┆ 0   │
└─────┴─────┘

In [45]:
df.with_columns(pl.when(pl.col("foo") > 2).then(1).otherwise(-1).alias("val"))

shape: (3, 3)
┌─────┬─────┬─────┐
│ foo ┆ bar ┆ val │
│ --- ┆ --- ┆ --- │
│ i64 ┆ i64 ┆ i32 │
╞═════╪═════╪═════╡
│ 1   ┆ 3   ┆ -1  │
│ 3   ┆ 4   ┆ 1   │
│ 4   ┆ 0   ┆ 1   │
└─────┴─────┴─────┘