# Polar datetime conversion
https://www.confessionsofadataguy.com/date-and-datetime-manipulation-in-polar/

In [1]:
import pandas as pd
import polars as pl

In [10]:
# Create the DataFrame
data = {
    "id": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25],
    "cust_id": [3, 3, 3, 7, 7, 15, 15, 15, 15, 15, 5, 12, 12, 4, 4, 3, 7, 15, 15, 12, 7, 7, 7, 7, 7],
    "order_date": [
        "2019-03-04", "2019-03-01", "2019-03-07", "2019-02-01", "2019-03-10", "2019-02-01", 
        "2019-01-11", "2019-03-11", "2019-03-01", "2019-03-09", "2019-02-01", "2019-01-11", 
        "2019-03-11", "2019-02-01", "2019-01-11", "2019-04-19", "2019-04-19", "2019-04-19", 
        "2019-04-20", "2019-01-11", "2019-04-01", "2019-04-02", "2019-04-03", "2019-04-04", 
        "2019-04-19"
    ],
    "order_details": [
        "Coat", "Shoes", "Skirt", "Coat", "Shoes", "Boats", "Shirts", "Slipper", "Jeans", 
        "Shirts", "Shoes", "Shirts", "Slipper", "Shoes", "Shirts", "Shirts", "Suit", "Skirt", 
        "Dresses", "Coat", "Suit", "Skirt", "Dresses", "Coat", "Coat"
    ],
    "total_order_cost": [
        100, 80, 30, 25, 80, 100, 60, 20, 80, 50, 80, 60, 20, 80, 60, 50, 150, 30, 200, 
        125, 50, 30, 50, 25, 125
    ]
}

orders = pd.DataFrame(data)
pl_orders = pl.DataFrame(data)
# # Display the DataFrame
# print(df)

In [11]:
orders.head()

   id  cust_id  order_date order_details  total_order_cost
0   1        3  2019-03-04          Coat               100
1   2        3  2019-03-01         Shoes                80
2   3        3  2019-03-07         Skirt                30
3   4        7  2019-02-01          Coat                25
4   5        7  2019-03-10         Shoes                80

Calculate the total revenue from each customer in March 2019. Include only customers who were active in March 2019.


Output the revenue along with the customer id and sort the results based on the revenue in descending order.

In [12]:
# orders['order_date'] = orders['order_date'].dt.strftime('%Y-%m-%d')
orders[orders['order_date'].between('2019-03-01', '2019-03-31')].groupby('cust_id')['total_order_cost'].sum().reset_index().rename(columns= {'total_order_cost': 'revenue'}).sort_values(by = 'revenue', ascending = False)

   cust_id  revenue
0        3      210
3       15      150
1        7       80
2       12       20

In [ ]:
# sql
select cust_id, sum(total_order_cost) as revenue
from orders
where order_date BETWEEN '2019-03-01' AND '2019-03-31'
group by cust_id
order by revenie desc

In [15]:
# df_new = sf_restaurant_health_violations.unique(subset = ['business_name'])

# df_new = df_new.with_columns(
#     pl.col('business_name').str.to_lowercase().alias('lower_business_name')
#     )
# df_new = df_new.with_columns(
#     pl.when(pl.col('lower_business_name').str.contains("restaurant")).then(pl.lit("restaurant"))
#     .when(pl.col('lower_business_name').str.contains("school")).then(pl.lit("school"))
#     .when(pl.col('lower_business_name').str.contains("cafe|café|coffee")).then(pl.lit("cafe"))
#     .otherwise(pl.lit("other")).alias('business_type')
#     )
# result = df_new.select(
#     pl.col('business_name'),
#     pl.col('business_type')
#     )
    
# result

# orders['order_date'] = orders['order_date'].dt.strftime('%Y-%m-%d')
# orders[orders['order_date'].between('2019-03-01', '2019-03-31')].groupby('cust_id')['total_order_cost'].
#                             sum().reset_index().rename(columns= {'total_order_cost': 'revenue'}).
#                             sort_values(by = 'revenue', ascending = False)
# pl_orders = pl_orders.with_columns(
#     pl_orders['order_date'].dt.strftime('%Y-%m-%d')
# )

In [29]:
# Create the Polars DataFrame
df_polar = pl.DataFrame({
    "id": [1, 2, 3, 4, 5],
    "cust_id": [3, 3, 3, 7, 7],
    "order_date": [
        "2019-03-04 00:00:00",
        "2019-03-01 00:00:00",
        "2019-03-07 00:00:00",
        "2019-02-01 00:00:00",
        "2019-03-10 00:00:00"
    ],
    "order_details": ["Coat", "Shoes", "Skirt", "Coat", "Shoes"],
    "total_order_cost": [100, 80, 30, 25, 80]
})

In [30]:
df_polar.head()

shape: (5, 5)
┌─────┬─────────┬─────────────────────┬───────────────┬──────────────────┐
│ id  ┆ cust_id ┆ order_date          ┆ order_details ┆ total_order_cost │
│ --- ┆ ---     ┆ ---                 ┆ ---           ┆ ---              │
│ i64 ┆ i64     ┆ str                 ┆ str           ┆ i64              │
╞═════╪═════════╪═════════════════════╪═══════════════╪══════════════════╡
│ 1   ┆ 3       ┆ 2019-03-04 00:00:00 ┆ Coat          ┆ 100              │
│ 2   ┆ 3       ┆ 2019-03-01 00:00:00 ┆ Shoes         ┆ 80               │
│ 3   ┆ 3       ┆ 2019-03-07 00:00:00 ┆ Skirt         ┆ 30               │
│ 4   ┆ 7       ┆ 2019-02-01 00:00:00 ┆ Coat          ┆ 25               │
│ 5   ┆ 7       ┆ 2019-03-10 00:00:00 ┆ Shoes         ┆ 80               │
└─────┴─────────┴─────────────────────┴───────────────┴──────────────────┘

In [31]:
df_polar = df_polar.with_columns(
    pl.col('order_date').str.strptime(pl.Datetime, '%Y-%m-%d %H:%M:%S').alias('order_date')
    
)
df_polar

shape: (5, 5)
┌─────┬─────────┬─────────────────────┬───────────────┬──────────────────┐
│ id  ┆ cust_id ┆ order_date          ┆ order_details ┆ total_order_cost │
│ --- ┆ ---     ┆ ---                 ┆ ---           ┆ ---              │
│ i64 ┆ i64     ┆ datetime[μs]        ┆ str           ┆ i64              │
╞═════╪═════════╪═════════════════════╪═══════════════╪══════════════════╡
│ 1   ┆ 3       ┆ 2019-03-04 00:00:00 ┆ Coat          ┆ 100              │
│ 2   ┆ 3       ┆ 2019-03-01 00:00:00 ┆ Shoes         ┆ 80               │
│ 3   ┆ 3       ┆ 2019-03-07 00:00:00 ┆ Skirt         ┆ 30               │
│ 4   ┆ 7       ┆ 2019-02-01 00:00:00 ┆ Coat          ┆ 25               │
│ 5   ┆ 7       ┆ 2019-03-10 00:00:00 ┆ Shoes         ┆ 80               │
└─────┴─────────┴─────────────────────┴───────────────┴──────────────────┘

In [33]:
df_polar = df_polar.with_columns(
    # pl.col('order_date').str.strptime(pl.Date,'%Y-%m-%d').alias('order_date')
    pl.col('order_date').cast(pl.Date).alias('order_date')
)
df_polar

shape: (5, 5)
┌─────┬─────────┬────────────┬───────────────┬──────────────────┐
│ id  ┆ cust_id ┆ order_date ┆ order_details ┆ total_order_cost │
│ --- ┆ ---     ┆ ---        ┆ ---           ┆ ---              │
│ i64 ┆ i64     ┆ date       ┆ str           ┆ i64              │
╞═════╪═════════╪════════════╪═══════════════╪══════════════════╡
│ 1   ┆ 3       ┆ 2019-03-04 ┆ Coat          ┆ 100              │
│ 2   ┆ 3       ┆ 2019-03-01 ┆ Shoes         ┆ 80               │
│ 3   ┆ 3       ┆ 2019-03-07 ┆ Skirt         ┆ 30               │
│ 4   ┆ 7       ┆ 2019-02-01 ┆ Coat          ┆ 25               │
│ 5   ┆ 7       ┆ 2019-03-10 ┆ Shoes         ┆ 80               │
└─────┴─────────┴────────────┴───────────────┴──────────────────┘

In [34]:
df_polar.head()

shape: (5, 5)
┌─────┬─────────┬────────────┬───────────────┬──────────────────┐
│ id  ┆ cust_id ┆ order_date ┆ order_details ┆ total_order_cost │
│ --- ┆ ---     ┆ ---        ┆ ---           ┆ ---              │
│ i64 ┆ i64     ┆ date       ┆ str           ┆ i64              │
╞═════╪═════════╪════════════╪═══════════════╪══════════════════╡
│ 1   ┆ 3       ┆ 2019-03-04 ┆ Coat          ┆ 100              │
│ 2   ┆ 3       ┆ 2019-03-01 ┆ Shoes         ┆ 80               │
│ 3   ┆ 3       ┆ 2019-03-07 ┆ Skirt         ┆ 30               │
│ 4   ┆ 7       ┆ 2019-02-01 ┆ Coat          ┆ 25               │
│ 5   ┆ 7       ┆ 2019-03-10 ┆ Shoes         ┆ 80               │
└─────┴─────────┴────────────┴───────────────┴──────────────────┘

In [45]:
df_polar_filtered = (
    df_polar.filter(pl.col("order_date").is_between(pl.date(2019,3,1), pl.date(2019,3,31)))
    .group_by('cust_id')
    .agg(pl.col('total_order_cost').sum().alias('revenue'))
    .sort('revenue', descending = True)
)
df_polar_filtered

shape: (2, 2)
┌─────────┬─────────┐
│ cust_id ┆ revenue │
│ ---     ┆ ---     │
│ i64     ┆ i64     │
╞═════════╪═════════╡
│ 3       ┆ 210     │
│ 7       ┆ 80      │
└─────────┴─────────┘

In [ ]:
# df_polar_filtered = (
#     df_polar
#     .filter(pl.col('order_date').is_between('2019-03-01', '2019-03-31'))  # Filter rows within the date range
#     .groupby('cust_id')  # Group by 'cust_id'
#     .agg(
#         pl.col('total_order_cost').sum().alias('revenue')  # Sum the 'total_order_cost' as 'revenue'
#     )
#     .sort('revenue', descending=True)  # Sort by 'revenue' in descending order
# )

# print(df_polar_filtered)