In [1]:
import pandas as pd

In [10]:
data = {
    "date": ["2020-01-01", "2020-01-02", "2020-01-03", "2020-01-04", "2020-01-07"],
    "consumption": [400, 350, 500, 500, 600]
}

eu_energy = pd.DataFrame(data)

In [11]:
data = {
    "date": ["2020-01-01", "2020-01-02", "2020-01-04", "2020-01-05", "2020-01-06", "2020-01-07"],
    "consumption": [400, 400, 675, 1200, 750, 400]
}

asia_energy = pd.DataFrame(data)

In [12]:
# Create the DataFrame
data = {
    "date": ["2020-01-01", "2020-01-02", "2020-01-03", "2020-01-06", "2020-01-07"],
    "consumption": [250, 375, 600, 500, 250]
}

na_energy = pd.DataFrame(data)

question: Find the date with the highest total energy consumption from the Meta/Facebook data centers. Output the date along with the total energy consumption across all data centers.

In [13]:
eu_energy.head()

         date  consumption
0  2020-01-01          400
1  2020-01-02          350
2  2020-01-03          500
3  2020-01-04          500
4  2020-01-07          600

In [19]:
df_concat = pd.concat([eu_energy, asia_energy, na_energy]).groupby('date')['consumption'].sum().reset_index().sort_values(by = 'consumption', ascending = False)
df_concat[df_concat['consumption'] == df_concat['consumption'].max()]

         date  consumption
6  2020-01-07         1250
5  2020-01-06         1250

In [ ]:
# sql
with cte as (
select tab.date, sum(tab.consumption) as total_energy_consump
from 
(select *
from eu_energy
UNION
select *
from asia_energy
UNION
select *
from na_energy) as tab

group by date
order by total_energy_consump desc
)

select *
from cte
where total_energy = (select max(total_energy) from cte)