In [3]:
import pandas as pd

In [8]:
# Create the DataFrame
data = {
    "id": [
        1, 1, 2, 2, 3, 4, 4, 5, 6, 6, 7, 8, 9, 9, 9, 10, 10, 11, 12, 13, 13, 13, 14, 15, 16, 17, 18, 18, 19, 20,
        21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 42, 42, 42, 43,
        44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 61, 62, 63, 64, 64, 64, 65, 66,
        67, 68, 69, 70, 71, 72, 73, 74, 75, 75, 75, 75, 75
    ],
    "first_name": [
        "Todd", "Todd", "Justin", "Justin", "Kelly", "Patricia", "Patricia", "Sherry", "Natasha", "Natasha",
        "Diane", "Mercedes", "Christy", "Christy", "Christy", "Sean", "Sean", "Kevin", "Joshua", "Julie", "Julie",
        "Julie", "John", "Anthony", "Briana", "Jason", "Jeffrey", "Jeffrey", "Michael", "Cody", "Stephen",
        "Brittany", "Angela", "William", "Pamela", "Allison", "Anthony", "Alexis", "Jason", "Stephen", "Kimberly",
        "Eric", "Peter", "Justin", "John", "Jesus", "Philip", "Nicole", "Linda", "Colleen", "John", "Traci",
        "Traci", "Traci", "Traci", "Joseph", "Trevor", "Kevin", "Joshua", "Kimberly", "Robert", "Amber", "Victoria",
        "Theresa", "Kara", "Teresa", "Wesley", "Michael", "Rachael", "Patricia", "Edward", "Kevin", "Charles",
        "Ryan", "Ryan", "Dale", "Richard", "Danielle", "Danielle", "Danielle", "Deborah", "Dustin", "Tyler",
        "Antonio", "Ernest", "Karen", "Kristine", "Christine", "William", "Richard", "Julia", "Julia", "Julia",
        "Julia", "Julia"
    ],
    "last_name": [
        "Wilson", "Wilson", "Simon", "Simon", "Rosario", "Powell", "Powell", "Golden", "Swanson", "Swanson",
        "Gordon", "Rodriguez", "Mitchell", "Mitchell", "Mitchell", "Crawford", "Crawford", "Townsend", "Johnson",
        "Sanchez", "Sanchez", "Sanchez", "Coleman", "Valdez", "Rivas", "Burnett", "Harris", "Harris", "Ramsey",
        "Gonzalez", "Berry", "Scott", "Williams", "Flores", "Matthews", "Johnson", "Ball", "Beck", "Olsen", "Smith",
        "Brooks", "Zimmerman", "Holt", "Dunn", "Ball", "Ward", "Gillespie", "Lewis", "Clark", "Carrillo", "George",
        "Williams", "Williams", "Williams", "Williams", "Rogers", "Carter", "Duncan", "Ewing", "Dean", "Lynch",
        "Harding", "Wilson", "Everett", "Smith", "Cohen", "Tucker", "Morris", "Williams", "Harmon", "Sharp",
        "Robinson", "Pearson", "Brown", "Brown", "Hayes", "Sanford", "Williams", "Williams", "Williams", "Martin",
        "Bush", "Green", "Carpenter", "Peterson", "Fernandez", "Casey", "Frye", "Preston", "Cole", "Ramos", "Ramos",
        "Ramos", "Ramos", "Ramos"
    ],
    "salary": [
        110000, 106119, 128922, 130000, 42689, 162825, 170000, 44101, 79632, 90000, 74591, 61048, 137236, 140000,
        150000, 182065, 190000, 166861, 123082, 185663, 200000, 210000, 152434, 96898, 151668, 42525, 14491, 20000,
        63159, 112809, 123617, 162537, 100875, 142674, 57944, 128782, 34386, 12260, 51937, 194791, 95327, 83093,
        69945, 67992, 47795, 36078, 36424, 114079, 186781, 147723, 21642, 138892, 150000, 160000, 180000, 22800,
        38670, 45210, 73088, 71416, 117960, 77764, 176620, 31404, 192838, 98860, 90221, 106799, 103585, 147417,
        41077, 100924, 173317, 110225, 120000, 97662, 136083, 98655, 110000, 120000, 67389, 47567, 111085, 83684,
        115993, 101238, 67651, 137244, 155225, 180361, 61398, 70000, 83000, 90000, 105000
    ],
    "department_id": [
        1006, 1006, 1005, 1005, 1002, 1004, 1004, 1002, 1005, 1005, 1002, 1005, 1001, 1001, 1001, 1006, 1006, 1002,
        1004, 1001, 1001, 1001, 1001, 1001, 1005, 1006, 1002, 1002, 1003, 1004, 1002, 1002, 1004, 1003, 1005, 1001,
        1003, 1005, 1006, 1001, 1003, 1006, 1002, 1003, 1004, 1005, 1006, 1001, 1002, 1004, 1001, 1003, 1003, 1003,
        1003, 1005, 1001, 1003, 1003, 1003, 1004, 1002, 1002, 1002, 1004, 1001, 1005, 1002, 1005, 1005, 1004, 1004,
        1003, 1005, 1005, 1005, 1002, 1001, 1002, 1003, 1001, 1005, 1005, 1006, 1006, 1006, 1006, 1006
    ]
}

In [9]:
df = pd.DataFrame(data)

ValueError: All arrays must be of the same length

In [ ]:
ms_employee_salary.head()

sort_df = ms_employee_salary.sort_values(['salary'], ascending = False)
updated_records = sort_df.drop_duplicates(['id'])
updated_records = updated_records.sort_values(['id'])
updated_records

In [ ]:
# sql
WITH cte AS
(select * , ROW_NUMBER() OVER(PARTITION BY id ORDER BY salary DESC) AS rnks
from ms_employee_salary)

SELECT id, first_name, last_name, department_id, salary AS max
FROM cte
WHERE rnks = 1