In [1]:
import pandas as pd

data = {
    "user_id": [6991, 18851, 14998, 8186, 9626, 16460, 10101, 2670, 8708, 167, 12725, 14014, 13536, 2663, 8149, 3152, 11496, 2755, 3422, 2360],
    "occurred_at": [
        "2014-06-09 18:26:54", "2014-08-29 13:18:38", "2014-07-01 12:47:56", "2014-05-23 10:44:16",
        "2014-07-31 17:15:14", "2014-07-24 18:43:19", "2014-08-27 05:54:28", "2014-05-10 10:03:34",
        "2014-05-26 10:42:12", "2014-07-30 19:39:13", "2014-06-17 08:03:49", "2014-07-06 16:24:43",
        "2014-06-18 09:34:08", "2014-06-13 07:45:26", "2014-06-06 15:35:24", "2014-05-20 17:57:00",
        "2014-08-28 07:45:32", "2014-05-05 14:14:56", "2014-07-03 14:09:37", "2014-06-02 19:53:13"
    ],
    "event_type": [
        "engagement", "signup_flow", "engagement", "engagement", "engagement", "signup_flow",
        "engagement", "engagement", "engagement", "engagement", "engagement", "engagement",
        "engagement", "engagement", "engagement", "engagement", "engagement", "engagement",
        "engagement", "engagement"
    ],
    "event_name": [
        "home_page", "enter_info", "login", "home_page", "login", "create_user", "home_page",
        "like_message", "send_message", "view_inbox", "home_page", "view_inbox", "send_message",
        "home_page", "like_message", "home_page", "view_inbox", "view_inbox", "send_message",
        "search_click_result_9"
    ],
    "location": [
        "United States", "Russia", "France", "Italy", "Russia", "United States", "Singapore",
        "United States", "Australia", "United Arab Emirates", "Brazil", "Japan", "United States",
        "United States", "Australia", "Venezuela", "United States", "France", "United States", "United States"
    ],
    "device": [
        "iphone 5", "asus chromebook", "hp pavilion desktop", "macbook pro", "nexus 7", "samsung galaxy note",
        "dell inspiron notebook", "nexus 7", "macbook pro", "lenovo thinkpad", "macbook pro", "macbook pro",
        "nexus 5", "nokia lumia 635", "samsung galaxy s4", "iphone 5", "lenovo thinkpad", "samsung galaxy s4",
        "kindle fire", "iphone 4s"
    ]
}

playbook_events = pd.DataFrame(data)

In [2]:
playbook_events.head()

,user_id,occurred_at,event_type,event_name,location,device
0,6991,2014-06-09 18:26:54,engagement,home_page,United States,iphone 5
1,18851,2014-08-29 13:18:38,signup_flow,enter_info,Russia,asus chromebook
2,14998,2014-07-01 12:47:56,engagement,login,France,hp pavilion desktop
3,8186,2014-05-23 10:44:16,engagement,home_page,Italy,macbook pro
4,9626,2014-07-31 17:15:14,engagement,login,Russia,nexus 7

Count the number of user events performed by MacBookPro users.
Output the result along with the event name.
Sort the result based on the event count in the descending order.

In [16]:
playbook_events[playbook_events['device'] == 'macbook pro'].groupby('event_name', as_index = False)['user_id'].count().rename(columns={'user_id': 'event_count'}).sort_values(by = 'event_count', ascending = False)

     event_name  event_count
0     home_page            2
1  send_message            1
2    view_inbox            1

In [9]:
#sql
select event_name, count(user_id) as event_count 
from playbook_events
where device = 'macbook pro'
group by event_name
order by event_count desc

event_name
create_user              1
enter_info               1
home_page                6
like_message             2
login                    2
search_click_result_9    1
send_message             3
view_inbox               4
Name: device, dtype: int64