In [1]:
import numpy as np

In [2]:
import pandas as pd

data = {
    'business_id': [5800, 64236, 1991, 3816, 39119],
    'business_name': [
        'John Chin Elementary School',
        'Sutter Pub and Restaurant',
        'SRI THAI CUISINE',
        'Washington Bakery & Restaurant',
        'Brothers Restaurant'
    ],
    'business_address': [
        '350 Broadway St',
        '700 Sutter St',
        '4621 LINCOLN Way',
        '733 Washington St',
        '4128 GEARY Blvd'
    ],
    'business_city': ['San Francisco'] * 5,
    'business_state': ['CA'] * 5,
    'business_postal_code': [94133, 94102, 94122, 94108, 94118],
    'business_latitude': [37.8, 37.79, 37.76, 37.8, 37.78],
    'business_longitude': [-122.4, -122.41, -122.51, -122.41, -122.46],
    'business_location': [
        {'longitude': '-122.403154', 'needs_recoding': False, 'latitude': '37.798358', 'human_address': '{"address":"","city":"","state":"","zip":""}'},
        {'longitude': '-122.41188', 'needs_recoding': False, 'latitude': '37.78881', 'human_address': '{"address":"","city":"","state":"","zip":""}'},
        {'longitude': '-122.507779', 'needs_recoding': False, 'latitude': '37.764073', 'human_address': '{"address":"","city":"","state":"","zip":""}'},
        {'longitude': '-122.405845', 'needs_recoding': False, 'latitude': '37.795174', 'human_address': '{"address":"","city":"","state":"","zip":""}'},
        {'longitude': '-122.463762', 'needs_recoding': False, 'latitude': '37.781148', 'human_address': '{"address":"","city":"","state":"","zip":""}'}
    ],
    'business_phone_number': [None] * 5,
    'inspection_id': [
        '5800_20171017', '64236_20170725', '1991_20171129', '3816_20160728', '39119_20160718'
    ],
    'inspection_date': [
        '2017-10-17 00:00:00', '2017-07-25 00:00:00', '2017-11-29 00:00:00', '2016-07-28 00:00:00', '2016-07-18 00:00:00'
    ],
    'inspection_score': [98, 88, 86, 67, 79],
    'inspection_type': ['Routine - Unscheduled'] * 5,
    'violation_id': [
        '5800_20171017_103149', '64236_20170725_103133', '1991_20171129_103139', '3816_20160728_103108', '39119_20160718_103133'
    ],
    'violation_description': [
        'Wiping cloths not clean or properly stored or inadequate sanitizer',
        'Foods not protected from contamination',
        'Improper food storage',
        'Contaminated or adulterated food',
        'Foods not protected from contamination'
    ],
    'risk_category': ['Low Risk', 'Moderate Risk', 'Low Risk', 'High Risk', 'Moderate Risk']
}

df = pd.DataFrame(data)

#print(df)

In [3]:
df.head()

,business_id,business_name,business_address,business_city,business_state,business_postal_code,business_latitude,business_longitude,business_location,business_phone_number,inspection_id,inspection_date,inspection_score,inspection_type,violation_id,violation_description,risk_category
0,5800,John Chin Elementary School,350 Broadway St,San Francisco,CA,94133,37.80,-122.40,"{'longitude': '-122.403154', 'needs_recoding':...",None,5800_20171017,2017-10-17 00:00:00,98,Routine - Unscheduled,5800_20171017_103149,Wiping cloths not clean or properly stored or ...,Low Risk
1,64236,Sutter Pub and Restaurant,700 Sutter St,San Francisco,CA,94102,37.79,-122.41,"{'longitude': '-122.41188', 'needs_recoding': ...",None,64236_20170725,2017-07-25 00:00:00,88,Routine - Unscheduled,64236_20170725_103133,Foods not protected from contamination,Moderate Risk
2,1991,SRI THAI CUISINE,4621 LINCOLN Way,San Francisco,CA,94122,37.76,-122.51,"{'longitude': '-122.507779', 'needs_recoding':...",None,1991_20171129,2017-11-29 00:00:00,86,Routine - Unscheduled,1991_20171129_103139,Improper food storage,Low Risk
3,3816,Washington Bakery & Restaurant,733 Washington St,San Francisco,CA,94108,37.80,-122.41,"{'longitude': '-122.405845', 'needs_recoding':...",None,3816_20160728,2016-07-28 00:00:00,67,Routine - Unscheduled,3816_20160728_103108,Contaminated or adulterated food,High Risk
4,39119,Brothers Restaurant,4128 GEARY Blvd,San Francisco,CA,94118,37.78,-122.46,"{'longitude': '-122.463762', 'needs_recoding':...",None,39119_20160718,2016-07-18 00:00:00,79,Routine - Unscheduled,39119_20160718_103133,Foods not protected from contamination,Moderate Risk

Classify each business as either a restaurant, cafe, school, or other.


•	A restaurant should have the substring 'restaurant' in the business name.
•	A cafe should have either 'cafe', 'café', or 'coffee' in the business name.
•	A school should have the substring 'school' in the business name.
•	All other businesses should be classified as 'other'.


Output the business name and their classification.

In [4]:
# df['business_name'].value_counts() ## all unique value with there number of occures

In [5]:
# drop duplicates
df_new = df[['business_name']].drop_duplicates()

In [6]:
lower = df_new['business_name'].str.lower() # df_new['business_name'].str.lower() to lowerin np.where

In [8]:
## if resturant than restaurant or check again if school than school or check again if cafe than cafe or other
df_new['business_type'] = np.where(lower.str.contains('restaurant'), 'resturant', 
                                   np.where(lower.str.contains('school'),'school', np.where(lower.str.contains(r'cafe|café|coffee'), 'cafe', 'other')))

In [9]:
df_new

                    business_name business_type
0     John Chin Elementary School        school
1       Sutter Pub and Restaurant     resturant
2                SRI THAI CUISINE         other
3  Washington Bakery & Restaurant     resturant
4             Brothers Restaurant     resturant

In [ ]:
# sql
select DISTINCT business_name, CASE WHEN LOWER(business_name) LIKE '%restaurant%' THEN 'restaurant'
WHEN LOWER LOWER(business_name) LIKE '%school%' THEN 'school'
LOWER(business_name) LIKE '%cafe%'  OR LOWER(business_name) LIKE '%café%'  OR LOWER(business_name) LIKE '%coffee%' THEN 'cafe'
ELSE 'other' END AS business_type
from df