In [2]:
ls = [1,2,3,9]
print(ls)

[1, 2, 3, 9]

In [2]:
len(ls)

4

In [3]:
n = 6
for i in range(0, len(ls), 1):
    total = sum(ls)
    print(total)

15
15
15
15

In [ ]:
# for i in range(1, len(ls), 2):
#     statement

In [1]:
l = ['constitute', 'Eflux', 'Intrigue', 'Sedge', 'Stem', 'Whim']
print(sorted(list))

['Eflux', 'Intrigue', 'Sedge', 'Stem', 'Whim', 'constitute']

In [4]:
l = [10, 20, 30, 40, 12, 3, 3, 10]
print(sorted(set(l)))

[3, 10, 12, 20, 30, 40]

In [5]:
str = 'banana'
str.count('ana')

1

In [7]:
str = 'BANANA'
ls = ['A', 'AN', 'ANA', 'ANAN', 'ANANA', 'A', 'AN', 'ANA', 'A']
uniq_vowel_sub = list(set(ls))
print(uniq_vowel_sub)

TypeError: 'list' object is not callable